*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtHojJTpQT-6-1RV13HpIw7d19aVPJfGH-qokXOgnBlMBfJgzQCJfmlXbBfpRdNWl1ZrE&usqp=CAU)




}
.netflix{
    display: flex;
    gap: 50px;
    align-self: center;
}
.Card{
    max-width: 500;
}

.Card>form{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 15px;
    background: rgb(27, 26, 26);
    opacity: 90%;
    color: white;
    border: none;
    width: 350px;
    height: 450px;
}
.Card>form>h1{
    color: white;
    display: flex;
    align-self: center;
    
}
.Card>form>input{
   font-size: 12px;
   outline: none;
   padding: 10px;
   cursor: pointer;
 
   
   
}
.Card>form>button{
    padding: 8px;
    font-size: 15px;
    background-color: red;
    outline: none;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.Card>form>.check{
    font-size: 13px;
    color: rgb(239, 219, 219);
     gap: 10px;
     font-weight: 500;
}
.Card>form>p>span{
    font-size: 14px;
    color: rgb(85, 85, 234);
}
.Card>form>h8>{
   font-weight: 200;
   font-size: 13px;
   color: rgb(185, 179, 179);
}
.Card>form>h8>span{
    color: rgb(226, 226, 233);
    font-weight: 600;
}
.Card>form>span{
    color: rgb(208, 193, 193);
    font-size: 13px;
    font-weight: 500;

}
.check{
    display: flex;
    justify-content: start;
    align-items: start;

}
